p-calendar {
    width: 100%;
    .p-calendar {
      width: 100%;
      .p-inputtext {
        border: solid 1px #e5e7eb;
   
    @apply rounded bg-slate-50 py-[9px] pr-[10px] pl-8  w-full text-xs text-primary-blue font-semibold leading-normal border-[0.5px] border-solid border-primary hover:border-primary-blue hover:shadow-[2px_2px_6px_0px_rgba(0,0,0,0.25)] focus:bg-white focus:shadow-[2px_2px_6px_0px_rgba(0,0,0,0.25)];
    
      }
      .p-datepicker {
        min-width: 325px;
        border-radius: 16px;
        thead tr span {
          @apply text-neutral-400 font-medium;
        }
        .p-datepicker-header {
          color: #0a1811;
          .p-datepicker-month {
            padding-right: 4px;
          }
        }
        table td > span {
          border: 1px solid #e5e7eb !important;
          border-radius: 8px;
      
        }
        .p-datepicker-other-month span {
          border: solid 1px #9ca3af !important;
         
        }
      }
    
    }
  }
  